@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --size: 33%;
}

.ipod-wheel {
  touch-action: none;
  user-select: none;
}

.ipod-wheel::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--size);
  height: var(--size);
  background: #ffffff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  box-shadow: inset 1px 1px 0 0px #00000024;
}

.cover-container {
  perspective: 1000px;
}

.album-cover {
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.wheel-shadow {
  box-shadow: inset 1px 0px 0 0px #00000024;
  background: radial-gradient(
    circle at -20% -20%,
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgba(160, 160, 160, 0.495) 70%
  );
}

.blue-gradient {
  background: linear-gradient(
    to bottom,
    rgb(70, 130, 180),
    rgb(79, 148, 205),
    rgb(81, 152, 230),
    rgb(79, 148, 205),
    rgb(70, 130, 180)
  );
}

.open-left-animation {
  animation: open-left 0.5s forwards;
}

.open-right-animation {
  animation: open-right 0.5s forwards;
}

@keyframes open-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes open-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.item-selected {
  background: linear-gradient(
    to bottom,
    rgb(96 165 250 / var(--tw-bg-opacity)),
    rgb(56 114 186),
    rgb(96 165 250 / var(--tw-bg-opacity))
  );
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
